@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@font-face {
    font-family: "americana";
    src: url("../public/fonts/Americana.otf") format("opentype");
}

@layer base {
    .site-x-padding {
        @apply px-4 sm:px-6 md:px-8 lg:px-10 xl:px-12;
    }

    .site-y-padding {
        @apply py-6 sm:py-10 md:py-16 lg:py-20 xl:px-28;
    }

    .site-text-size {
        @apply text-[var(--reliwe-green)] text-base sm:text-base md:text-base lg:text-lg;
    }

    .normal-heading {
        @apply text-[var(--reliwe-green)] font-semibold text-xl pb-4 sm:text-2xl sm:pb-6 md:text-3xl md:pb-8 lg:text-4xl lg:pb-10 xl:text-5xl xl:pb-12;
    }

    .card-heading {
        @apply text-[var(--reliwe-green)] font-semibold text-xl pb-4 sm:text-xl sm:pb-4 md:text-2xl md:pb-4 lg:text-3xl lg:pb-6 xl:text-4xl xl:pb-8;
    }

    .text-green {
        @apply text-[var(--reliwe-green)]
    }

    .card-text {
        @apply text-[var(--reliwe-green)]
    }
}

:root {
    --reliwe-green: #1f5d37;
    --reliwe-green-accent: #cddbd3;
    --reliwe-green-text: #314439;
    --reliwe-gray: #d0cccf;
    --font-open-sans: "Open Sans", sans-serif;
    --font-monserrat: "Montserrat", sans-serif;
    --font-americana: "americana", sans-serif;

    --reliwe-footer-bg4: #b8b4b6;
    --reliwe-footer-text4: #2b2b2b;
}

h1 {
    font-family: var(--font-americana);
}

h2, h3, h4, h5, h6 {
    font-family: var(--font-monserrat);
}

p, li, a, button {
    font-family: var(--font-open-sans);
}