@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import "tailwindcss";

:root {
    --reliwe-green: #1f5d37;
    --reliwe-green-accent: #c9cec3;
    --reliwe-green-text: #314439;
    --reliwe-gray: #d0cccf;
	--reliwe-gold: #e9db97;
	--reliwe-offwhite: #faf7f5;
	--reliwe-beige: #ece3d6;
	--header-height: 94px;
	--background-offwhite: #faf7f5;
	--background-green: #c9cec3;
	--background-beige: #e8dfd4;
}

/*--background-olive: #dcd9c9;*/
/*--background-beige: #e8dfd4;*/
/*--reliwe-green-accent: #cddbd3;*/

@font-face {
	font-family: "americana";
	src: url("/fonts/americanabt_roman.ttf") format("truetype");
	font-weight: normal;
	font-style: bold;
	font-display: swap;
}

html {
  	overflow-y: scroll;
}

html, body {
  	overscroll-behavior: none;
}

body {
	background-color: #faf7f5;
}

h1, h2 {
	font-family: "americana";
}

.text-family {
	font-family: "Geist", sans-serif;
	font-style: normal;
	font-optical-sizing: auto;
	@apply font-[400] md:font-[500];
}

.heading {
	/*@apply text-5xl md:text-5xl lg:text-6xl xl:text-8xl;*/
	@apply text-[clamp(3rem,6vw,5.3rem)];
	-webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.heading-no-break {
	/*@apply text-5xl md:text-5xl lg:text-6xl xl:text-8xl;*/
	@apply text-[clamp(2.9rem,6vw,5.3rem)];
}

.text-bold {
	font-weight: 800
}

p, li, a, button, h3, h4 {
    font-family: "Geist", sans-serif;
	font-style: normal;
	font-optical-sizing: auto;
	@apply font-[400] md:font-[500];
}

.emphasize-text {
	font-weight: 700;
	font-size: 18px;
}

p, span {
	@apply text-[16px] md:text-[18px] font-[300] md:font-[500];
};


.override-text-size {
	font-size: 12px!important;
}

.items-horizontal-gap {
	@apply gap-8;
}

.items-vertical-gap {
	@apply gap-8;
}

.items-pb {
	@apply pb-8;
}

.body-x-padding {
	@apply px-4 md:px-8 lg:px-12 xl:px-14;
}

.section-y-padding {
	@apply py-12 md:py-12 lg:py-12 xl:py-16;
}

.header-height {
	height: 94px;
}